  
<h1>This is the Collection of all the Movies!</h1>
<br>
<%@movies.each do |movie|%>
    <h4><%=movie.name%> </h4> <br>
    <% end %>
<br>
<br>
<a href="/users/<%= @user.slug %>">Movies that belong to you! </a>
<br>

<a href="/movies/new">Create a New Movie </a>